@font-face{
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/permanent-marker-v7-latin-regular.woff2);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

:root{
    --black: #262626;
    --white: rgb(252, 243, 243);
    --board: #B89595;
    --red: #DA4848;
    --yellow: #FFCE33;
    --blue: #A3EDFD;
    --background-player1:  linear-gradient(to right, rgba(255,212,212,1) 0%, rgba(255,227,219,1) 48%, rgba(255,244,227,1) 100%);
    --background-player2:  linear-gradient(to right, rgba(232,235,250,1) 0%, rgba(163,236,253,1) 100%);
}

body {
    font-family: 'Permanent Marker'; 
    font-size: 36px;
}

h1 {
    font-family: 'Permanent Marker';
    text-align: center;
}

.background-player1{
    background: var(--background-player1);
}

.background-player2{
    background: var(--background-player2);
}

.board {
    perspective: 1000px;
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

.inner-board {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

.flip-board .inner-board {
    transform: rotateY(180deg);
}

.front-board, .back-board {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid var(--board);
    box-shadow: 1px 1px 5px var(--black);
    backface-visibility: hidden;
}

.front-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.back-board {
    display: block;
    background: var(--board);
    transform: rotateY(180deg);
    text-align: center;
    font-size: 48px;
    
}

.back-board button {
    display: block;
    
    border-radius: 10px;
    padding: 10px;
    font-family: 'Permanent Marker';
    background: linear-gradient(to right, rgba(255,251,207,1) 0%, rgba(254,182,69,1) 100%);
    box-shadow: 1px 1px 2px var(--black);
    width: 50%;
    margin-bottom: 10px;
    margin: 0 auto;
}

.back-board button:hover{
    opacity: 0.8;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.black {
    background: var(--black);   
}

.white {
    background: var(--white);
}

.player {
    visibility: visible;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    border: 1px solid var(--black);
    box-shadow: 1px 1px 2px var(--black);
    opacity: 1;
    transition: visibility 1s, opacity 0.2s ease-in;
    -webkit-transition: visibility 1s, opacity 0.2s ease-in;
    -moz-transition: visibility 1s, opacity 0.2s ease-in;
}

.player1 {
    background: var(--red);
}

.player2 {
    background: var(--blue);
}

.clicked {
    border: 3px solid var(--yellow);
    box-shadow: -1px 1px 5px var(--black);
    z-index: 1;
}

.clicked .player {
    width: 100%;
    height: 100%;
}

.winner {
    background: var(--yellow);
}

.delete{
    visibility: hidden;
    opacity: 0;
}

.shake{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    -moz-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}


/* Phones */
@media only screen and (max-width: 600px) {

    body {
        margin: 10px;
        margin: 0 auto;
    }

    .board{
        width: 100%;
    }

    .front-board{
        max-width: 97%;
    }

    .back-board{
        font-size: 28px;
    }

    .back-board button{
        font-size: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px){

    .board{
        width: 100%;         
    }

    .front-board{
        width: 97%;
    }

    .back-board{
        font-size: 48px;
    }

    .back-board button{
        font-size: 28px;
    }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px){
    .board{
        width: 100%;
    }

    .front-board, .back-board{
        width: 97%;
    }

    .back-board{
        font-size: 48px;
    }

    .back-board button{
        font-size: 28px;
    }
} 

@media only screen and (min-width: 992px) {
    .board{
        width: 500px;
        height: 500px;     
    }

    .back-board{
        font-size: 48px;
    }

    .back-board button{
        font-size: 28px;
    }

} 